$mainColor:#f4acb7 ;
$secondaryColor:#ffcad4 ;
$thirdColor:#ffe5d9 ;
$fourthColor: #d8e2dc;
$white: #fcf8ec; 
$black: #0F0E0E;

.color{
    background-color: $mainColor;
   }
   
.color2{
  background-color: $secondaryColor;
}

.color3{
    background-color: $thirdColor;
}