<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
   
       <title>Error 404</title>
   
       <link rel="shortcut icon" href="./img/favicon.png">
       <link rel="stylesheet" href="../css/style.css">
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   
   </head>
 <body class="color">
    <h1 class="text-center py-5 px-5 col-12 col-md-6">¡Ups! no encontramos tu pagina</h1>
    <div class="d-flex flex-row">
        <img class="col-12 col-md-6" src="../img/rusell.png" alt="personaje de la pelicula up">
        <p class="text3 fs-3 text-end px-5 py-5 col-12 col-md-6">¡Hola buenas tardes mi nombre es Russell! soy un guia explorador de la tribu 54 guarida 12 ¿necesita que le brinde ayuda en algo señor? ¿le ayudo a atravesar su calle?</p>
    </div>
    <div class="text-center pb-5">
        <p class="fs-4"><strong>¡Por aqui!</strong></p>
        <a href="./index.html"><img class="text-center" src="../img/click.webp" alt="casa de la pelicula animada up" /></a>
    </div>
    


 </body>
</html>