<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Condesa Store / Nosotros</title>

	<link rel="shortcut icon" href="../img/fav2.webp">
	<link rel="stylesheet" href="../css/style.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body class="body">
	<div>
		<p class="text-center p-0"> Envios gratis en compras +$2000</p>
	</div>

	<header class="sticky-top">
		<nav class="navbar navbar-expand-lg sticky-top botonera py-0 ">
			<div class="container-fluid">
				<a href="../index.html">
					<img class="ps-5" src="../img/logo.webp" alt="logo condesa makeup">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse pe-2 " id="navbarNavAltMarkup">
					<div class="navbar-nav ms-auto">
						<a class="nav-link" aria-current="page" href="../index.html">Home</a>
						<a class="nav-link" href="../views/productos.html">Productos</a>
						<a class="nav-link" href="../views/promociones.html">Promociones</a>
						<a class="nav-link" href="../views/nosotros.html">Nosotros</a>
						<a class="nav-link" href="../views/contacto.html">Contacto</a>
					</div>
				</div>
			</div>
		</nav>
	</header>


	<main class="container d-flex flex-column">
		<h2 class="text2 text-center fs-2 pt-5 pb-3 px-5">Quienes somos</h2>
		<img class=" d-block w-100 px-5 py-5 rounded-pill col-sm-12 col-md-6 col-lg-3 " src="../img/nosotros2.webp"
			alt="persona con crema en la mano">
		<h2 class="text2 text-center  fs-2 py-3 px-5">Conocenos</h2>
		<p class="text2 text-center fs-5 py-3 px-5 "> Somos una empresa de cosmetica natural dedicada 100% a
			elaborar productos de alta calidad para mantener tu piel sana hidratada y brillante todos los dias.</p>
		<img class="d-block w-100 px-5 py-5 rounded-pill" src="../img/nosotros1.webp"
			alt="persona con crema en la mano">
		<h3 class="text2 text-center fs-2 py-3 px-5 "><span>Más sobre nosotros</span></h3>
		<p class=" text2 text-center fs-5 py-3 px-5"> A lo largo de los años fuimos sumando personas al equipo, pasamos
			de ser 2 personas a ser 100, trabajando constantemente para mejorar nuestros productos y servicios. Si
			queres saber mas no dudes en contactarte con nosotros o dejarnos tu consulta.</p>
	</main>

	<div class="d-flex justify-content-center pb-5">
		<a href="./contacto.html"><button>Contactanos</button></a>
	</div>


	<footer class="footer">
		<p class="text-center fs-5 py-3 px-5"> Seguinos en nuestras redes sociales</p>
		<div class="d-flex justify-content-center">
			<a href="https://www.facebook.com/malehoran" target="_blank">
				<img class="footer__icon" src="../img/facebook.svg" alt="logo de facebook">
			</a>
			<a href="https://www.instagram.com/malenabustos_/" target="_blank">
				<img class="footer__icon" src="../img/instagram.svg" alt="logo de instagram">
			</a>
			<a href="https://www.whatsapp.com" target="_blank">
				<img class="footer__icon" src="../img/whatsapp.svg" alt="logo de whatsapp">
			</a>
		</div>
		<div>
			<p class="p-2"> 2022 © Copyright </p>
		</div>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>

</html>